<ng-clips-alert *ngIf="showAlert" [color]="alertColor">
  {{ alertMessage }}
</ng-clips-alert>

<form #loginForm="ngForm" (ngSubmit)="login()">
  <!-- Email -->
  <div class="mb-3">
    <label
      class="inline-block mb-2 text-xs uppercase tracking-[.1rem] font-bold text-slate-400"
      >Email</label
    >
    <input
      [(ngModel)]="credentials.email"
      #email="ngModel"
      name="email"
      type="email"
      class="block w-full py-1.5 px-3 text-slate-400 border border-slate-600 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
      placeholder="Enter Email"
      required
      pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
    />
    <p
      *ngIf="email.errors && email.touched && email.dirty"
      class="text-red-400"
    >
      Email is invalid
    </p>
  </div>
  <!-- Password -->

  <div class="mb-3">
    <label
      class="inline-block mb-2 text-xs uppercase tracking-[.1rem] font-bold text-slate-400"
      >Password</label
    >
    <input
      [(ngModel)]="credentials.password"
      #password="ngModel"
      name="password"
      type="password"
      class="block w-full py-1.5 px-3 text-slate-400 border border-slate-600 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
      placeholder="Password"
      required
    />
    <p
      *ngIf="password.errors && password.touched && password.dirty"
      class="text-red-400"
    >
      Password is invalid
    </p>
  </div>
  <button
    [disabled]="loginForm.invalid || inSubmission"
    type="submit"
    class="block w-full bg-slate-900 text-white py-1.5 px-3 rounded-xl transition hover:bg-slate-800 disabled:opacity-30 disabled:bg-slate-700"
  >
    Submit
  </button>
</form>
