<ng-clips-alert *ngIf="showAlert" [color]="alertColor">
  {{ alertMsg }}
</ng-clips-alert>

<form [formGroup]="registerForm" (ngSubmit)="register()">
  <!-- Name -->
  <div class="mb-3">
    <label
      class="inline-block mb-2 text-xs uppercase tracking-[.1rem] font-bold text-slate-400"
      >Name</label
    >
    <ng-clips-input [control]="name" placeholder="Enter Name"></ng-clips-input>
  </div>
  <!-- Email -->
  <div class="mb-3">
    <label
      class="inline-block mb-2 text-xs uppercase tracking-[.1rem] font-bold text-slate-400"
      >Email</label
    >
    <ng-clips-input
      [control]="email"
      type="email"
      placeholder="Enter Email"
    ></ng-clips-input>
  </div>
  <!-- Age -->
  <div class="mb-3">
    <label
      class="inline-block mb-2 text-xs uppercase tracking-[.1rem] font-bold text-slate-400"
      >Age</label
    >
    <ng-clips-input
      [control]="age"
      type="number"
      placeholder="Enter Age"
    ></ng-clips-input>
  </div>
  <!-- Password -->
  <div class="mb-3">
    <label
      class="inline-block mb-2 text-xs uppercase tracking-[.1rem] font-bold text-slate-400"
      >Password</label
    >
    <ng-clips-input
      [control]="password"
      type="password"
      placeholder="Enter Password"
    ></ng-clips-input>
  </div>
  <!-- Confirm Password -->
  <div class="mb-3">
    <label
      class="inline-block mb-2 text-xs uppercase tracking-[.1rem] font-bold text-slate-400"
      >Confirm Password</label
    >
    <ng-clips-input
      [control]="confirmPassword"
      type="password"
      placeholder="Confirm Password"
    ></ng-clips-input>
  </div>
  <!-- Phone Number -->
  <div class="mb-3">
    <label
      class="inline-block mb-2 text-xs uppercase tracking-[.1rem] font-bold text-slate-400"
      >Phone Number</label
    >
    <ng-clips-input
      [control]="phoneNumber"
      format="0000 000 0000"
      placeholder="Enter Phone Number"
    ></ng-clips-input>
  </div>
  <button
    type="submit"
    class="block w-full bg-slate-900 text-white py-1.5 px-3 rounded-xl transition hover:bg-slate-800 disabled:opacity-30 disabled:bg-slate-700"
    [disabled]="registerForm.invalid || inSubmission"
  >
    Submit
  </button>
</form>
