<!-- Main Content -->
<section class="container mx-auto my-8 bg-slate-800 p-6 rounded-xl">
  <div class="rounded relative flex flex-col">
    <div class="font-bold text-3xl mb-6 tracking-[.05rem]">Upload Video</div>

    <ng-container *ngIf="!ffmpegService.isReady; else uploadEditorContainer">
      <span class="material-icons text-center text-6xl p-8 animate-spin">
        settings
      </span>
    </ng-container>

    <ng-template #uploadEditorContainer>
      <!-- Upload Dropbox -->
      <ng-container *ngIf="!nextStep; else uploadFormContainer">
        <div
          ngClipsEventBlocker
          (dragend)="isDragover = false"
          (dragover)="isDragover = true"
          (dragenter)="isDragover = true"
          (dragleave)="isDragover = false"
          (mouseleave)="isDragover = false"
          (drop)="storeFile($event)"
          [ngClass]="{
            'bg-indigo-400 border-indigo-400 border-solid': isDragover
          }"
          class="w-full px-10 py-40 rounded text-center cursor-pointer border border-dashed border-slate-600 transition duration-500 hover:text-white hover:bg-indigo-400 hover:border-indigo-400 hover:border-solid text-xl"
        >
          <h5>Drop your file here (mp4 only!)</h5>
          <span
            *ngIf="ffmpegService.isRunning"
            class="material-icons text-center text-6xl p-8 animate-spin"
          >
            autorenew
          </span>
        </div>
        <input type="file" class="mt-4" (change)="storeFile($event)" />
      </ng-container>

      <!-- Video Editor -->
      <ng-template #uploadFormContainer>
        <ng-clips-alert *ngIf="showAlert" [color]="alertColor">
          <p>{{ alertMessage }}</p>
          <p *ngIf="showPercentage">{{ percentage | percent }}</p>
        </ng-clips-alert>
        <div>
          <!-- Form -->
          <form [formGroup]="uploadForm" (ngSubmit)="uploadFile()">
            <!-- Screenshots -->
            <h2 class="mb-4 text-xl">Select a Thumbnail</h2>
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
              <div
                *ngFor="let screenshot of screenshots"
                class="border-8 cursor-pointer rounded-3xl"
                [ngClass]="{
                  'border-slate-400': screenshot === selectedScreenshot,
                  'border-transparent': screenshot !== selectedScreenshot
                }"
                (click)="selectedScreenshot = screenshot"
              >
                <img
                  [src]="screenshot | safeUrl"
                  class="card-img-top w-full rounded-3xl"
                />
              </div>
            </div>

            <!-- Title -->
            <div class="mt-4">
              <label class="block text-xl mb-4">Title</label>
              <ng-clips-input
                [control]="title"
                placeholder="Enter Title"
              ></ng-clips-input>
            </div>

            <div class="mt-4 text-right">
              <button
                type="submit"
                class="font-bold uppercase tracking-[.1rem] text-sm px-6 py-3 bg-slate-900 rounded-xl cursor-pointer"
                [ngClass]="{
                  'opacity-30': inSubmission
                }"
                [disabled]="inSubmission"
              >
                Publish
              </button>
            </div>
          </form>
        </div>
      </ng-template>
    </ng-template>
  </div>
</section>
