<nav class="container mx-auto flex justify-start items-center py-8 px-4">
  <!-- App Name -->
  <a
    class="text-3xl text-slate-200 font-bold uppercase mr-4 tracking-[.2rem]"
    routerLink="/"
  >
    Clips
  </a>

  <div class="flex flex-grow items-center justify-end">
    <!-- Primary Navigation -->
    <ul class="flex flex-row mt-1">
      <!-- Navigation Links -->
      <li>
        <a
          class="font-bold uppercase mr-4 tracking-[.1rem] text-sm"
          routerLink="/"
          routerLinkActive="text-indigo-400"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a
          class="font-bold uppercase mr-4 tracking-[.1rem] text-sm pr-12"
          routerLink="/about"
          routerLinkActive="text-indigo-400"
          [routerLinkActiveOptions]="{ exact: true }"
          >About</a
        >
      </li>

      <li
        *ngIf="(authService.isAuthenticated$ | async) !== true; else authLinks"
      >
        <a
          class="font-bold uppercase tracking-[.1rem] text-sm px-6 py-3 bg-slate-700 rounded-xl"
          href="#"
          (click)="openModal()"
          >Login / Register</a
        >
      </li>

      <ng-template #authLinks>
        <li>
          <a
            class="font-bold uppercase mr-4 tracking-[.1rem] text-sm"
            routerLink="/manage"
            routerLinkActive="text-indigo-400"
            [routerLinkActiveOptions]="{ exact: true }"
            [queryParams]="{ sort: '1' }"
            >Manage</a
          >
        </li>
        <li>
          <a
            class="font-bold uppercase mr-4 tracking-[.1rem] text-sm"
            routerLink="/upload"
            routerLinkActive="text-indigo-400"
            [routerLinkActiveOptions]="{ exact: true }"
            >Upload</a
          >
        </li>
        <li>
          <a
            class="font-bold uppercase tracking-[.1rem] text-sm px-6 py-3 bg-slate-700 rounded-xl cursor-pointer"
            routerLinkActive="text-indigo-400"
            (click)="logout()"
            >Sign out</a
          >
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
