<!-- Header -->
<header id="header" class="bg-secondary">
  <nav class="container mx-auto flex justify-start items-center py-8 px-4">
    <!-- App Name -->
    <a class="text-3xl text-indigo-400 font-bold uppercase mr-4" routerLink="/"
      >Clips</a
    >

    <div class="flex flex-grow items-center justify-end">
      <!-- Primary Navigation -->
      <ul class="flex flex-row mt-1">
        <!-- Navigation Links -->
        <li>
          <a
            class="px-4"
            routerLink="/"
            routerLinkActive="text-indigo-400"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li>
          <a
            class="pr-12"
            routerLink="/about"
            routerLinkActive="text-indigo-400"
            [routerLinkActiveOptions]="{ exact: true }"
            >About</a
          >
        </li>

        <li
          *ngIf="
            (authService.isAuthenticated$ | async) !== true;
            else authLinks
          "
        >
          <a class="px-2" href="#" (click)="openModal()">Login / Register</a>
        </li>

        <ng-template #authLinks>
          <li>
            <a
              class="px-2"
              routerLink="/manage"
              routerLinkActive="text-indigo-400"
              [routerLinkActiveOptions]="{ exact: true }"
              >Manage</a
            >
          </li>
          <li>
            <a
              class="px-2"
              routerLinkActive="text-indigo-400"
              [routerLinkActiveOptions]="{ exact: true }"
              >Upload</a
            >
          </li>
          <li>
            <a
              class="px-2 cursor-pointer"
              routerLinkActive="text-indigo-400"
              (click)="logout()"
              >Sign out</a
            >
          </li>
        </ng-template>
      </ul>
    </div>
  </nav>
</header>
